.bsp/
.metals/
.sbt-cache/
.env.release
data/
project/project/
project/target/
secrets/*
target/

!secrets/README.md
/project/metals.sbt
/.bloop/
/.codex/
/src/main/scala/cookingblog/storage/.scala-build/
/project/.bloop/
/node_modules/
/test-results/
